body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(59, 59, 152, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}
body button {
  border: 1px solid black;
  height: 200px;
  width: 265px;
  border-radius: 25px;
  font-weight: bold;
  color: rgb(255, 0, 13);
  font-size: 30px;
  background-size: contain;
  outline: none;
  cursor: pointer;
}
.container {
  border: 2px solid white;
  width: 40%;
  margin-left: 30%;
  margin-top: 50px;
}
.roundResult {
  color: rgb(255, 0, 13);
}
#rock {
  background-image: url(rock.jpg);
}
#paper {
  background-image: url(paper.jpg);
}
#scissors {
  background-image: url(scissors.jpg);
}
.restart {
  background-color: white;
  height: 50%;
}
