body {
  background-color: royalblue;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}
body button {
  background-color: royalblue;
  border: 1px solid black;
  height: 200px;
  width: 265px;
  border-radius: 25px;
  font-weight: bold;
  color: rgb(255, 0, 13);
  font-size: 30px;
  background-size: contain;
}
.container {
  border: 2px solid white;
  width: 40%;
  margin-left: 30%;
  margin-top: 50px;
}
.roundResult {
  color: darkred;
}
#rock {
  background-image: url(rock.jpg);
}
#paper {
  background-image: url(paper.jpg);
}
#scissors {
  background-image: url(scissors.jpg);
}
